body {
    background-image:url("public/assets/linedpaper.png");
}

.carousel-img {
    width: 90%;
    height: 350px;
    border-radius: 100% 0% 98% 2% / 7% 96% 4% 93% ;
    box-shadow: 0 0 30px #333;

}

.meal-card {
    max-width: 18rem;
}

.meal-img {
    width: 95%;
    border-radius: 97% 3% 100% 0% / 4% 100% 0% 96%  ;
    box-shadow: 0 0 30px #333;
}

.meal-details {
  width: 100%;
  background: none;
}

.meal-details-img {
  width: 60%;
  border-radius: 97% 3% 100% 0% / 4% 100% 0% 96%  ;
  box-shadow: 0 0 50px #333;
}


#footer{
    padding:1rem;
}
